<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
         <bindings>
              <basicHttpBinding>
                   <binding name="BasicHttpsBinding_IService" maxBufferPoolSize="2147483647"
                        maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                        <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                             maxArrayLength="999999999" maxBytesPerRead="999999999" maxNameTableCharCount="999999999" />
                        <security mode="Transport" />
                   </binding>
                   <binding name="BasicHttpBinding_IService1" />
                   <binding name="BasicHttpsBinding_IService1">
                        <security mode="Transport" />
                   </binding>
                   <binding name="BasicHttpBinding_IService" />
              </basicHttpBinding>
         </bindings>
        <client>
            <endpoint address="http://10.0.0.111/RecruitmentService/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="ServiceReference1.IService" name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>



  <system.webServer>
    <security>
      <requestFiltering>
        <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
        <!-- 100 MB in bytes -->
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
