<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="MakApi.Service" value="https://onpay.online.manappuram.com/InsuranceService/MaKash.asmx" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" executionTimeout="360000" />
    <pages>
      <namespaces>
        <add namespace="System.Runtime.Serialization" />
        <add namespace="System.ServiceModel" />
        <add namespace="System.ServiceModel.Web" />
      </namespaces>
    </pages>

<webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>


  </system.web>
  <system.serviceModel>

 <bindings>
 <webHttpBinding>
    <binding name="webHttpsBinding">
        <security mode="Transport">
            <transport clientCredentialType="None" />
        </security>
    </binding>
</webHttpBinding>

   </bindings>

    <client />
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      
      <serviceActivations>
        
        <add factory="System.ServiceModel.Activation.WebServiceHostFactory" relativeAddress="./REC_SERVICE/service.svc" service="Service" />
      
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceHttpBehavior">
<webHttp/>
          
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Service">
        <host>
          <baseAddresses>
            <add baseAddress="https://online.manappuram.com/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="IService" bindingConfiguration="webHttpsBinding" behaviorConfiguration="ServiceHttpBehavior" />
        <!-- <endpoint address="Web" binding="mexHttpBinding" bindingConfiguration="mexHttpsBinding"  contract="IMetadataExchange" />  --> 
   </service>
    </services>
    
  <!--  <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />

    </protocolMapping> -->
  </system.serviceModel>
  <system.webServer>
<httpErrors errorMode="Detailed" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite,ANCM" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500-999" />
                </add>
            </traceFailedRequests>
        </tracing>
  </system.webServer>
</configuration>